* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 55px;
  position: relative;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 20px;
}

header h4 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 20px;
}

header h5 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 10px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: -90px;
  left: calc(50% - 75px);
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #f9f9f9;
}

section {
  padding: 40px;
  margin: 40px 0;
}

section b {
  font-size: 2rem;
  margin-bottom: 20px;
  display: block;
}

article {
  margin-bottom: 20px;
}

article i {
  font-style: normal;
  color: #777;
  font-size: 1rem;
}

article li {
  margin-bottom: 5px;
}

aside {
  background-color: #f9f9f9;
  padding: 40px;
  margin: 40px 0;
  text-align: center;
}

aside b {
  font-size: 2rem;
  margin-bottom: 20px;
  display: block;
}

aside ul {
  list-style: none;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  color: #f9f9f9;
}

#exp {
  text-align: "center";
}
